
.application {
  background-color: #f9f9f9;
  padding: 30px 0;


  .form-calc {
    margin-top: 15px;
    flex-direction: column;

    @media #{$tablet} {
      padding-right: 300px;
    }
  }

  .form-calc label{
    color: $text;
    margin: 20px 0 10px 0;
  }

  .form-select  {
    appearance: none;
    padding: 5px 5px 5px 10px;
    outline: none;
    border: 1px solid $primary;
    border-radius: 20px;
    color: $text;
    font-family: 'Muli', sans-serif;
    position: relative;
    background-image: url("../images/arrow2_2.png");
    background-repeat: no-repeat;
    background-position: 285px;
  }
  
// CHECKBOX

  .checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $text;
    margin-top: 20px;
  }

  .checkbox input {
    font-size: 18px;
    width: 45px;
    height: 45px;
    @include mainBord;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    //flex-shrink: 0;
  }

  .checkbox input:checked {
    background: url("../images/form_ok.jpg") no-repeat center;
  }


  // ORDER SUMMARY
  .summary_panel {
    background-color: white;
    width: 100%;
    height: 185px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .panel_left {
    width: 185px;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
  }

  .panel_right {
    width: 100px;
    border-left: 1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
  }

  .panel_left h4, .panel_right h4 {
    color: $primary-multiply;
    font-size: 23px;
    margin: 0;
  }

  .panel_left span {
    margin-top: 10px;
    font-size: 18px;
    color: $text;
    display: block;
    height: 20px;
  }

  .panel_right span {
    display: block;
    font-size: 22px;
    color: $primary-multiply;
    margin-top: 10px;
    height: 20px;
  }

  .panel_bottom {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;

    .sum_label {
      display: inline-block;
      color: $text;
    }

    .sum {
      display: inline-block;
      width: 100px;
      text-align: right;
      color: $primary-multiply;
    }
  }

  .btn-order {
    background-color: $primary-multiply;
    color: white;
    width: 180px;
    height: 40px;
    text-align: center;
  }
}