footer{
  background-color: $primary;
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .footer-span{
    color: white;
  }

  .footer-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: $primary-multiply
    }
  }
}